<h1>Ping-Pong!</h1>
<form  action='/result'>
  <div class='form-group'>
    <label for='userInput'> Enter Number: </label>
    <input type="text" name="userInput" id="userInput" class="form-control">
  </div>

<button type="submit" class='btn'> Go!</button>
</form>
